* {
    padding: 0;
    margin: 0;
}

.main-box {
    background-color: rgba(0, 0, 0, 0.089);
    /* height: 250px; */
    width: 100%;
    color: black;
    padding: 10px;
    margin: auto;
    margin-top: 20vh;
    /* border-radius: 5px; */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.562);
}

#display {
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 19px;
}

input::selection {
    color: white;
    background-color: black;
}

input:focus {
    /* color: #495057; */
    /* background-color: #fff; */
    border-color:none !important;
    outline: 0 !important;
    box-shadow: none !important;

}
